*,
*::after,
*::before{
  box-sizing: border-box;
}
body,h1,h3,h4,p{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.container{
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
.header{
  background-image: url(../images/header-fon.jpg);
  /* height: 100vh; */
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 19px 0 21px;
  color: #ffffff;
}
.header__inner{
  display: flex;
  flex-direction: column;

}
.header__top{
  display: flex;
  justify-content: space-between;
}
.header__top-phone{
  text-align: right;
}
.text{
  display: block;
  padding-top: 29px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.phone-number{
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  padding-top: 10px;
}
.header__title{
  font-size: 60px;
  font-weight: 600;
  padding-top: 150px;
  line-height: 65px;
}
.header__text{
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 30px;
}
.header__text span{
  font-size: 16px;
  display: block;
  padding-top: 18px;
}
.btn{
  padding: 18px 70px;
  border: 2px solid #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 70px;
}
.btn:hover{
  background-color: #db883c;
  border: 2px solid #db883c;
}
.header__icons{
  margin-top: 140px;
  display: inline-block;
  bottom: 0;
}
.header__icons li+li{
  margin-left: 10px;
}
.header__icons a{
  width: 26px;
  height: 26px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  position: relative;
}
.vk::before{
  content: "";
  background-image: url(../images/vk.png);
  width: 14px;
  height: 8px;
  position: absolute;
  margin-top: 8px;
  margin-left: -7px;
}
.fb::before{
  content: "";
  background-image: url(../images/fb.png);
  width: 6px;
  height: 13px;
  position: absolute;
  margin-top: 5px;
  margin-left: -3px;
}
.ig::before{
  content: "";
  background-image: url(../images/ig.png);
  width: 12px;
  height: 12px;
  position: absolute;
  margin-top: 6px;
  margin-left: -6px;
}
.vk:hover,
.fb:hover,
.ig:hover{
background-color: #db883c;
border: 1px solid #db883c;
}
.s1{
  padding: 50px 0;
  background-color: #f8f2e4;
}
.s1__item{
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.s1__item-text{
  margin-left: 80px;
  text-align: left;
}
.s1-title{
  font-size: 20px;
  font-weight: 600;
  padding-top: 40px;
  text-align: left;
}
.s1-title span{
  display: block;
  font-size: 40px;
  font-weight: 700;
}
.s1-text{
  padding-top: 46px;
  font-size: 16px;
  font-weight: 400;
}
.s1-list{
padding-top: 14px;
}
.s1-list li{
  display: block;
  margin-top: 26px;
  font-size: 18px;
  padding-left: 50px;
  position: relative;
  font-weight: 600;
}
.s1-yoga::before{
  position: absolute;
  content: "";
  background-image: url(../images/Yoga_Mat.png);
  width: 30px;
  height: 20px;
  margin-left: -49px;
}
.s1-sea::before{
  position: absolute;
  content: "";
  background-image: url(../images/Wave.png);
  width: 30px;
  height: 24px;
  margin-left: -49px;
}
.s1-planer::before{
  position: absolute;
  content: "";
  background-image: url(../images/Paper-plane-1.png);
  width: 27px;
  height: 28px;
  margin-left: -49px;
}
.s2,
.s6{
  background-color: #ffffff;
  padding: 80px 0;
}
.title{
  font-size: 36px;
  font-weight: 600;
  position: relative;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}
.title::after{
  content: "";
  background-image: url(../images/zig-zag.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 118px;
  height: 8px;
  margin-top: 73px;
}
.s2__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}
.s2__wrapper>div{
  width: 312px;
  padding-top: 45px;
  font-size: 16px;
  font-weight: 600;
 }
 .s3,
 .s5,
 .s7{
  padding-top: 80px;
  background-color: #f8f2e4;
  height: 505px;
  margin-bottom: 265px;
}
.s3__slider,
.s5__slider{
  margin-top: 80px;
  width: 100%;
}
.s3__slider-item1,
.s3__slider-item2,
.s3__slider-item3,
.s5__slider-item1,
.s5__slider-item2,
.s5__slider-item3{
  background-size: cover;
  height: 530px;
  background-repeat: no-repeat;
  background-position: center;
} 
.s3__slider-item1{
  background-image: url(../images/slide-1.jpg);
}
.s3__slider-item2{
  background-image: url(../images/slide-2.jpg);
}
.s3__slider-item3{
  background-image: url(../images/slide-3.jpg);
}
.s3__slider-item1::after,
.s3__slider-item2::after,
.s3__slider-item3::after,
.s5__slider-item1::after,
.s5__slider-item2::after,
.s5__slider-item3::after{
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
.s3__wrapper,
.s5__wrapper{
  margin: 33px;
  border: 1px solid #ffffff;
  height: 464px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-prev{
  left: 0;
}
.slick-next{
  right: 0;
}
.slick-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 33px;
}
.s3__wrapper-title,
.s5__wrapper-title{
  margin-bottom: 20px;
  font-size: 26px;
  z-index: 1;
}
.s3__wrapper-text,
.s5__wrapper-text{
  font-size: 18px;
  max-width: 440px;
  z-index: 1;
}
.s4{
  padding: 80px 0;
}
.s4__inner{
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.s4__inner-item{
  width: 220px;
  height: 180px;
  background-color: #fff8e6;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s4__item-date{
  font-size: 18px;
  margin-top: 6px;
}
.s4__item-title{
  font-size: 20px;
  font-weight: 600;
}
.s4__link{
  border-bottom: 1px solid #5a56b0;
  color: #5a56b0;
  font-size: 16px;
  line-height: 18px;
  display: inline;
}
.s4__item-btn{
  margin-top: 15px;
}
.s4-btn{
  border: 2px solid #e28234;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #e28234;
}
.s4-btn:hover{
  background-color: #db883c;
  border: 2px solid #db883c;
  color: #ffffff;
}
.s5__slider-item1{
  background-image: url(../images/slide-4.jpg);
  position: relative;
}

.s5__slider-item2{
  background-image: url(../images/slide-5.jpg);
}
.s5__slider-item3{
  background-image: url(../images/slide-6.jpg);
}
.s6-title{
  margin-bottom: 70px;
}
p{
  font-size: 20px;
  margin-bottom: 23px;
}
.s6-program{
  font-size: 24px;
  font-weight: 600;
  margin-top: 65px;
  margin-bottom: 60px;
}
.s6-list{
  max-width: 622px;
}
.s6-list_item{
  margin-top: 30px;
  padding-left: 160px;
  height: 120px;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.s6-list_item::before{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  left: 0;
}
.s6-item_img-1::before{
  background-image: url(../images/s6-list_item-1.jpg);
}
.s6-item_img-2::before{
  background-image: url(../images/s6-list_item-2.jpg);
}
.s6-item_img-3::before{
  background-image: url(../images/s6-list_item-3.jpg);
}
.s6-item_img-4::before{
  background-image: url(../images/s6-list_item-4.jpg);
}
.s6-item_img-5::before{
  background-image: url(../images/s6-list_item-5.jpg);
}
.s6-info{
  display: flex;
  margin-top: 100px;
  position: relative;
  height: 620px;
}
.s6-info::before{
  content: "";
  position: absolute;
  width: 725px;
  height: 260px;
  background-color: #f8f2e4;
  margin-left: -30px;
  margin-top: -30px;
}
.info-img{
  width: 50%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.info-center{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  z-index: 1;
  padding-left: 50px;
}
.s6-center{
  font-size: 30px;
  text-align: inherit;
  line-height: 30px;
  margin-bottom: 5px;
  font-weight: 600;
}
.s6-center span{
  font-size: 14px;
  display: block;
  font-weight: 400;
}
.s6-center_text{
  font-size: 12px;
  text-align: inherit;
  margin-top: 19px;
  margin-bottom: 0;
  font-weight: 600;
}
.s6-center_list{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 293px;
  margin-top: 15px;
}
.s6-center_list li{
  padding-left: 28px;
  position: relative;
  width: 48%;
  margin-top: 13px;
}
.s6-center_list li::before{
  content: "";
  width: 13px;
  height: 13px;
  background-image: url(../images/s6-logo.png);
  left: 0;
  position: absolute;
}
.s7-instructors{
  width: 100%;
  height: 540px;
}
.instructor-1{
  background-image: url(../images/s7-instructor1.jpg);
}